In [115]:
import pandas as pd
#from sklearn import *
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

                                 data preparation and preprocessing

In [51]:
df = pd.read_csv("C:\\Users\\Mpumelelo\\Documents\\GitHub\\OIBSIP\\spam\\spam.csv", encoding="latin-1")  # Replace with the correct encoding

In [52]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [53]:
df.shape

(5572, 5)

#extracting the features

features

In [54]:
df.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [55]:

for col in df.columns[-3:]:
    del df[col]
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [56]:
df['word_count'] = df['v2'].apply(lambda x: len(x.split()))

In [57]:
df

        v1                                                 v2  word_count
0      ham  Go until jurong point, crazy.. Available only ...          20
1      ham                      Ok lar... Joking wif u oni...           6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...          28
3      ham  U dun say so early hor... U c already then say...          11
4      ham  Nah I don't think he goes to usf, he lives aro...          13
...    ...                                                ...         ...
5567  spam  This is the 2nd time we have tried 2 contact u...          30
5568   ham              Will Ì_ b going to esplanade fr home?           8
5569   ham  Pity, * was in mood for that. So...any other s...          10
5570   ham  The guy did some bitching but I acted like i'd...          26
5571   ham                         Rofl. Its true to its name           6

[5572 rows x 3 columns]

In [58]:
# Function to count sentences
def count_sentences(text):
  return len(text.split('.')) + len(text.split('!')) + len(text.split('?'))

df['sentence_count'] = df['v2'].apply(count_sentences)

In [59]:
# Function to check for punctuation
def has_punctuation(text):
  punct = set("?!.")
  return any(char in punct for char in text)

# Add new columns for sentence count and punctuation check

df['has_punctuation'] = df['v2'].apply(has_punctuation)

In [60]:
df

,v1,v2,word_count,sentence_count,has_punctuation
0,ham,"Go until jurong point, crazy.. Available only ...",20,11,True
1,ham,Ok lar... Joking wif u oni...,6,9,True
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,28,4,True
3,ham,U dun say so early hor... U c already then say...,11,9,True
4,ham,"Nah I don't think he goes to usf, he lives aro...",13,3,False
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,30,8,True
5568,ham,Will Ì_ b going to esplanade fr home?,8,4,True
5569,ham,"Pity, * was in mood for that. So...any other s...",10,8,True
5570,ham,The guy did some bitching but I acted like i'd...,26,3,False
5571,ham,Rofl. Its true to its name,6,4,True

In [61]:
df

,v1,v2,word_count,sentence_count,has_punctuation
0,ham,"Go until jurong point, crazy.. Available only ...",20,11,True
1,ham,Ok lar... Joking wif u oni...,6,9,True
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,28,4,True
3,ham,U dun say so early hor... U c already then say...,11,9,True
4,ham,"Nah I don't think he goes to usf, he lives aro...",13,3,False
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,30,8,True
5568,ham,Will Ì_ b going to esplanade fr home?,8,4,True
5569,ham,"Pity, * was in mood for that. So...any other s...",10,8,True
5570,ham,The guy did some bitching but I acted like i'd...,26,3,False
5571,ham,Rofl. Its true to its name,6,4,True

                      label encoding

In [62]:
df.loc[df['v1']=='spam','v1',]=0 #spam==0
df.loc[df['v1']=='ham','v1',]=1 #not spam==1

In [63]:
#to prepare data set for splitting
x=df['v2']
y=df['v1']

In [64]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [102]:
# Split the data into training and testing sets# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [103]:
x_train.shape
x_test.shape

(1115,)

In [99]:

# Create a TfidfVectorizer with the correct parameters
feature = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)

In [108]:
# Fit and transform the training data
x_train_values = feature.fit_transform(x_train)

# Transform the test data
x_test_values = feature.transform(x_test)

# Convert y_train and y_test to integers
y_train = y_train.astype('int')
y_test = y_test.astype('int')

                                              Training the MOdels

In [109]:

# Initialize the Naive Bayes model
model = MultinomialNB()

# Fit the model to the training data
model.fit(x_train_values, y_train)

MultinomialNB()

In [131]:

# Predict the labels for the train data
y_pred_nav = model.predict(x_train_values)

In [132]:
# Calculate the accuracy
accuracy = accuracy_score(y_train, y_pred_nav)

# Print the accuracy
print(f"Accuracy of the model: {accuracy:.2f}")

Accuracy of the model: 0.98

In [118]:
# Initialize the Naive Bayes model
logistic_model = LogisticRegression()

In [119]:
logistic_model.fit(x_train_values, y_train)

LogisticRegression()

In [127]:
y_pred_logistic = logistic_model.predict(x_train_values)

In [128]:
# Calculate the accuracy
accuracy = accuracy_score(y_train, y_pred)

# Print the accuracy
print(f"Accuracy of the model: {accuracy:.2f}")

Accuracy of the model: 0.98

In [129]:
print(f"Accuracy of the Logistic Regression model: {accuracy_logistic:.2f}")

Accuracy of the Logistic Regression model: 0.95

                            So we use the Naive Bayes model

In [134]:

# Predict the labels for the test data
y_pred = model.predict(x_test_values)

# Calculate the accuracy
accuracy = accuracy_score(y_test, y_pred)

# Print the accuracy
print(f"Accuracy of the model: {accuracy:.2f}")

Accuracy of the model: 0.97