In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("spam\\spam.csv", encoding="latin-1")  # Replace with the correct encoding

In [6]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [10]:
df.tail()

        v1                                                 v2  word_count
5567  spam  This is the 2nd time we have tried 2 contact u...          30
5568   ham              Will Ì_ b going to esplanade fr home?           8
5569   ham  Pity, * was in mood for that. So...any other s...          10
5570   ham  The guy did some bitching but I acted like i'd...          26
5571   ham                         Rofl. Its true to its name           6

In [14]:
for col in df.columns[-3:]:
    del df[col]
    df

In [15]:
df['word_count'] = df['v2'].apply(lambda x: len(x.split()))

KeyError: 'v2'

In [ ]:
# Function to count sentences
def count_sentences(text):
  return len(text.split('.')) + len(text.split('!')) + len(text.split('?'))

df['sentence_count'] = df['v2'].apply(count_sentences)